/* .pt-80{
padding-top: 80px;
}

.pb-80{
padding-bottom: 80px;
}

.bgColor{
    background-color: #314550;
}

.HeaderStyle{
    font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: medium;
  color: #ffffff;
  position: relative;
  top: 80px;
}
.cardHeading{
    text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: capitalize;
  position: relative;
  top: 30px;
}

.cardDetails{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
    color: #ffffff;
    text-align: left;
    position: relative;
    top: 30px;
}

.readmore{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #008c45;
    cursor: pointer;
    text-align: left;
} */