@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@200&family=Mochiy+Pop+P+One&family=Montserrat:ital@0;1&family=Noto+Sans&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200&family=Passion+One:wght@700&family=Poppins:ital,wght@0,100;0,400;0,500;1,400&family=Readex+Pro:wght@500&family=Roboto&family=Tangerine:wght@700&family=Zen+Antique&display=swap");
.footer-area {
  padding-bottom: 80px;
  overflow: hidden;
  position: relative;
  background-color: #314550;
}

.top {
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.212);
}
a {
  text-decoration: none;
  color: white;
  text-align: justify;
}
a:hover {
  text-decoration: none;
  color: white;
}
.title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #fff;
  list-style: none;
}
.title1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #fff;
  list-style: none;
}
.list-unstyled {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  padding-bottom: 10px;
  list-style: none;
}
.end {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #E8E8E8;
  list-style: none;
  font-weight: 300;
  position: relative;
  top: 20px;
  left: 8px;
}

.shesh {
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .footerRes {
    position: relative;
    right: 20px;
  }
  .footerRes1 {
    position: relative;
    left: 30px;
  }
  .shesh {
    padding-bottom: 20px;
  }
  .list-unstyled {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #fff;
    padding-bottom: 10px;
    list-style: none;
  }
  .title1 {
    padding-bottom: 90px;
  }
}

@media (max-width: 425px) {
  .footerRes {
    position: relative;
    left: 90px;
  }
  .footerRes1 {
    margin-right: 24px;
    position: relative;
    left: 0px;
    top: 20px;
  }
}

@media (max-width: 375px) {
  .footerRes {
    position: relative;
    left: 30px;
  }
}

@media (max-width: 425px) {
  .footerRes2 {
    position: relative;
    /* right: 23px; */
    left: 170px;
    bottom: 137px;
  }
  .footerRes1 {
    position: relative;
    top: 74px;
    position: relative;
    bottom: 140px;
    left: 10px;

  }
  .footerRes3 {
    position: relative;
    bottom: 140px;

  }
}
